/* Same at any resolution */

body {
    background: #345;
}
h1 {
    color: #ddd;
    text-align: center;
}
p {
    color: #ddd;
    text-align: center;
}
a {
    text-decoration: none;
    color: #ccc;
}
.adsbygoogle {
    margin: 40px auto 0 auto;
}

#dropdown {
    /* Size/Spacing */
    margin: 0 auto;
    text-align: right;
}
#dropdown-button {
    /* Decorations */
    background: #222;
    border: 1px solid black;
    text-align: left;
    outline: none;
    color: #ccc;
}
#dropdown-button:hover, #search-button:hover {
    /* Decorations */
    cursor: pointer;
}
#dropdown-menu {
    text-align: left;
    background: #bbb;
    padding: 0px;
    border: 1px solid black;
}
ul {
    padding: 0px;
}
li {
    list-style: none;
    display: block;
}
li:hover {
    background: #ddd;
}
li:nth-last-child(2) {
    padding: 0px;
    width: 100%;
}
.fa-angle-down, .fa-tv-retro, .fa-headphones, .fa-book, .fa-images, .fa-gamepad, .fa-file-archive {
    float: right;
    margin: 0 auto;
    text-align: center;
    padding-right: 5px;
}z
#search-box {
        /* Decorations */
        background: #ddd;
        text-align: right;
        color: #333;
        font-size: 1rem;
        font-weight: 600;
    }
#search-button {
    /* Decorations */    
    background: #222;
    border: 1px solid black;
    text-align: center;
    outline: none;
    color: #ccc;
}

/* 750px wide or bigger */
@media only screen and (min-width: 750px) {
    h1 {font-size: 4rem;}
    p {font-size: 2rem;}
    
    #search-bar {
        width: 95%;
        height: 40px;
        margin: 0 auto;
        text-align: center;
    }
    #dropdown {
        width: 200px;
        height: 42px;
        display: inline-block;
    }    
    #dropdown-button {
        /* Decorations */
        border-radius: 10px 0 0 10px;
        
        /* Size/Spacing */
        padding: 10px;
        margin: 0;
        width: 180px;
        height: 42px;
    }
    #dropdown-menu {
        margin-left: 28px;
        margin-top: -1px;
        display: none;
        position: absolute;
        border-radius: 0 0 10px 10px;
        z-index: 1;
    }
    ul {
        width: 170px;
        margin: 0;
    }
    li {
        padding: 10px;
        width: 150px;
    }
    li:nth-last-child(1) {
        border: none;
        border-radius: 0 0 10px 10px;
    }
    #search-box {
        /* Size/Spacing */
        padding: 10px;
        margin: -6px;
        width: 60%;
        height: 18px;
        border: 2px solid #000;
    }
    #search-button {
        /* Decorations */    
        border-radius: 0 10px 10px 0;

        /* Size/Spacing */
        padding: 10px;
        margin: 0;
        width: 40px;
        height: 42px;
        z-index: 1;
    }
}

/* 750px wide or smaller */
@media only screen and (max-width: 750px) { /*750 px or less */
    h1 {font-size: 2.6rem;}
    p {font-size: 1.6rem;}
    
    #search-bar {
        margin: 0 auto;
        display: block;
        width: 90%;
        height: 200px;
    }
    #dropdown {
        width: 100%;
    }
    #dropdown-button {
        /* Decorations */
        border-radius: 10px 10px 0 0;
        font-size: 1.6rem;
        font-weight: 600;
        
        /* Size/Spacing */
        padding: 10px;
        margin: 0;
        width: 100%;
        height: 60px;
    }
    #dropdown-menu{
        font-size: 1.3rem;
        width: 95%;
        margin: 0 auto;
        background: #ccc;
        padding: 0px;
        box-shadow: 0px 0px 40px #000;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
    }
    ul {
        width: 100%;
        margin: 5px 0;
    }
    li {
        padding: 10px;
        width: 95%;
        margin: 0 auto;
    }
    #search-box {
        /* Size/Spacing */
        padding: 10px;
        margin: -1px 0;
        width: 100%;
        border: 1px solid #000;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
        height: 60px;
    }
    #search-button {
        /* Decorations */    
        border-radius: 0 0 10px 10px;
        font-size: 1.6rem;
        font-weight: 600;
        content: "Search";

        /* Size/Spacing */
        padding: 10px;
        margin: 0;
        width: 100%;
        height: 60px;
        z-index: 1;  
    }
}