/* Same at any resolution */

/* Imports */
@import url('https://fonts.googleapis.com/css?family=Quicksand');

html{
    font-weight: 200;
    font-size: 1em;
    text-align: center;
    color: #ddd;
    min-height: 100%;
    min-height: 100%;
    background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%, rgba(138, 114, 76, 0) 40%), -moz-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%, rgba(138, 114, 76, 0) 40%), -webkit-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%, rgba(138, 114, 76, 0) 40%), -o-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%, rgba(138, 114, 76, 0) 40%), -ms-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), linear-gradient(135deg, #670d10 0%, #092756 100%);
}

html body {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    color: #ddd;
    text-align: center;
}
p {
    color: #ddd;
    text-align: center;
}
a {
    text-decoration: none;
    color: #ccc;
}
.adsbygoogle {
    margin: 20px auto 0 auto;
}

#dropdown {
    /* Size/Spacing */
    margin: 0 auto;
    text-align: right;
}
#dropdown-button {
    /* Decorations */
    background: #222;
    border: 1px solid black;
    text-align: left;
    outline: none;
    color: #ccc;
}
#dropdown-button:hover, #search-button:hover, #dropdown-menu:hover {
    /* Decorations */
    cursor: pointer;
}
#dropdown-menu {
    text-align: left;
    background: #444;
    padding: 0px;
    border: 1px solid black;
}
ul {
    padding: 0px;
}
li {
    list-style: none;
    display: block;
}
li:hover {
    background: #333;
}
li:nth-last-child(2) {
    padding: 0px;
    width: 100%;
}
.fa-angle-down, .fa-tv-retro, .fa-headphones, .fa-book, .fa-images, .fa-gamepad, .fa-file-archive {
    float: right;
    margin: 0 auto;
    text-align: center;
    padding-right: 5px;
}
#search-box {
    /* Decorations */
    background: #ddd;
    text-align: right;
    color: #333;
    font-size: 1rem;
    font-weight: 600;
}
#search-button {
    /* Decorations */    
    background: #222;
    border: 1px solid black;
    text-align: center;
    outline: none;
    color: #ccc;
}
#donations {
    font-size: 1em;
    font-weight: 300;
    width: 500px;
    margin: 1rem auto 1rem auto;
    line-height: 4rem;
}

#donations > span {
    font-size: 1.5em;
}
.donate {
    background: #222;
    border: 1px solid black;
    text-align: center;
    outline: none;
    color: #ccc;
    padding: .5rem;
    border-radius: 10px;
}

.fa-btc, .fa-paypal {
    padding: 0 15px 5px 0;
}

.credits {
    font-size: .8em;
    font-style: italic
}
/* 750px wide or bigger */
@media only screen and (min-width: 750px) {
    h1 {font-size: 4rem;}
    p {font-size: 2rem;}
    
    #search-bar {
        width: 95%;
        height: 40px;
        margin: 0 auto;
        text-align: center;
    }
    #dropdown {
        width: 200px;
        height: 42px;
        display: inline-block;
    }    
    #dropdown-button {
        /* Decorations */
        border-radius: 10px 0 0 10px;
        
        /* Size/Spacing */
        padding: 10px;
        margin: 0;
        width: 200px;
        height: 42px;
    }
    #dropdown-menu {
        margin-left: 14px;
        margin-top: -1px;
        display: none;
        position: absolute;
        border-radius: 0 0 10px 10px;
        z-index: 1;
    }
    ul {
        width: 185px;
        margin: 0;
    }
    li {
        padding: 10px;
        width: 170px;
    }
    li:nth-last-child(1) {
        border: none;
        border-radius: 0 0 10px 10px;
    }
    #search-box {
        /* Size/Spacing */
        padding: 10px;
        margin: -6px;
        width: 60%;
        height: 18px;
        border: 2px solid #000;
    }
    #search-button {
        /* Decorations */    
        border-radius: 0 10px 10px 0;

        /* Size/Spacing */
        padding: 10px;
        margin: 0;
        width: 40px;
        height: 42px;
        z-index: 1;
    }
}

/* 750px wide or smaller */
@media only screen and (max-width: 750px) { /*750 px or less */
    h1 {font-size: 2.6rem;}
    p {font-size: 1.6rem;}
    
    #search-bar {
        margin: 0 auto;
        display: block;
        width: 90%;
    }
    #dropdown {
        width: 100%;
    }
    #dropdown-button {
        /* Decorations */
        border-radius: 10px 10px 0 0;
        font-size: 1.5rem;
        font-weight: 600;
        
        /* Size/Spacing */
        padding: 10px;
        margin: 0;
        width: 100%;
        height: 60px;
    }
    #dropdown-menu{
        font-size: 1.3rem;
        width: 98%;
        margin: 0 auto;
        box-shadow: 0px 0px 40px #000;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
    }
    ul {
        width: 100%;
        margin: 5px 0;
    }
    li {
        padding: 10px;
        width: 95%;
        margin: 0 auto;
    }
    #search-box {
        /* Size/Spacing */
        padding: 10px;
        margin: -1px 0;
        width: 100%;
        border: 1px solid #000;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
        height: 60px;
    }
    #search-button {
        /* Decorations */    
        border-radius: 0 0 10px 10px;
        font-size: 1.5rem;
        font-weight: 600;
        content: "Search";

        /* Size/Spacing */
        padding: 10px;
        margin: 0;
        width: 100%;
        height: 60px;
        z-index: 1;  
    }
    #donations {
        width: auto;
        height: 130px;
        position: relative;
        margin: 40px 20px;
        line-height: 1rem;
    }

    .donate {
        padding: .8rem;
    }

    .donate-pp {
        position: absolute;
        display: block;
        width: 100%;
        box-sizing: border-box;
        bottom: 50px;
    }

    .donate-btc {
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        left: 0;
        bottom: 0;
    }

    .fa-btc, .fa-paypal {
        padding-bottom: 0;
    }
}